USE [master]
-- drop DATABASE QLKS_DB
-- -- GO
-- -- /****** Object:  Database [QLKS_DB]    Script Date: 12/12/2022 10:49:48 CH ******/
CREATE DATABASE [QLKS_DB]
USE QLKS_DB
--  CONTAINMENT = NONE
--  ON  PRIMARY 
-- ( NAME = N'QLKS_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\QLKS_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
--  LOG ON 
-- ( NAME = N'QLKS_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\QLKS_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
-- GO
ALTER DATABASE [QLKS_DB] SET COMPATIBILITY_LEVEL = 140
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLKS_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLKS_DB]
GO
/****** Object:  Table [dbo].[DatPhong]    Script Date: 12/12/2022 10:49:49 CH ******/
-- SET ANSI_NULLS ON
-- GO
-- SET QUOTED_IDENTIFIER ON
-- GO
-- CREATE TABLE [dbo].[DatPhong](
-- 	[MaDP] [varchar](20) NULL,
-- 	[NgayDatPhong] [date] NULL,
-- 	[NgayTraPhong] [date] NULL,
-- 	[DatCoc] [decimal](18, 0) NULL,
-- 	[GhiChu] [nvarchar](max) NULL,
-- 	[MaKH] [varchar](20) NULL,
-- 	[MaPhong] [varchar](20) NOT NULL,
-- 	[MaHD][int] NULL
-- ) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
-- GO
-- SET ANSI_NULLS ON
-- GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatPhong](
	[MaDP] [int] IDENTITY(1,1) NOT NULL,
	[NgayDatPhong] [date] NULL,
	[NgayTraPhong] [date] NULL,
	[MaHD] [int] NULL,
	[MaKH] [varchar](20) NULL,
	[MaPhong] [varchar](20) NULL,
	[DatCoc] [decimal](18, 0) NULL,
	[GhiChu] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[DatPhong] ADD  CONSTRAINT [PK_DatPhong] PRIMARY KEY CLUSTERED 
(
	[MaDP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DichVu]    Script Date: 12/12/2022 10:49:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DichVu](
	[MaDV] [varchar](20) NOT NULL,
	[TenDV] [nvarchar](50) NULL,
	[Gia] [decimal](18, 0) NULL,
	[GhiChu] [nvarchar](max) NULL,
	[SoLuong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phong]    Script Date: 12/12/2022 10:49:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phong](
	[MaPhong] [varchar](20) NOT NULL,
	[Tang] [int] NULL,
	[GiaTheoGio] [decimal](18, 0) NULL,
	[GiatheoNgay] [decimal](18, 0) NULL,
	[TrangThai] [nvarchar](50) NULL,
	[MaLoaiPhong] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 12/12/2022 10:49:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [int] IDENTITY(1,1) not null,
	[NgayXuat] [date] NULL,
	[MaDP] [int] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
ALTER TABLE [dbo].[HoaDon] ADD PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
/****** Object:  Table [dbo].[KhachHang]    Script Date: 12/12/2022 10:49:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [varchar](20) NOT NULL,
	[TenKH] [nvarchar](50) NULL,
	[Tuoi] [int] NULL,
	[CCCD] [varchar](50) NULL,
	[DoThanThiet] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](max) NULL,
	[Sdt] [varchar](15) NULL,
	[GioiTinh] [bit] NULL,
	[GhiChu] [nvarchar](max) NULL,
 CONSTRAINT [PK__KhachHan__2725CF1E58D9270D] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietDichVu]    Script Date: 12/12/2022 10:49:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDichVu](
	[MaHD] [int] not null,
	[MaDV] [varchar](20) NOT NULL,
	[soLuong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 12/12/2022 10:49:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[MaCTHD] [varchar](20) NOT NULL,
	[MaHD] [varchar](20) NULL,
	[MaNV] [nvarchar](20) NULL,
	[MaDP] [int] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
ALTER TABLE [dbo].[ChiTietHoaDon] ADD PRIMARY KEY CLUSTERED 
(
	[MaCTHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ChiTietDatPhong]    Script Date: 12/12/2022 10:49:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ChiTietDatPhong]
AS
SELECT        hd.MaHD, dp.MaPhong, kh.TenKH, kh.CCCD, dp.NgayDatPhong, dp.NgayTraPhong, p.GiatheoNgay, ABS(DATEDIFF(DAY, dp.NgayDatPhong, dp.NgayTraPhong)) AS SoDem, ABS(DATEDIFF(DAY, dp.NgayDatPhong, 
                         dp.NgayTraPhong)) * p.GiatheoNgay AS TienPhong
FROM            dbo.DatPhong AS dp INNER JOIN
                         dbo.HoaDon AS hd ON dp.MaHD = hd.MaHD INNER JOIN
                         dbo.KhachHang AS kh ON kh.MaKH = dp.MaKH INNER JOIN
                         dbo.Phong AS p ON dp.MaPhong = p.MaPhong INNER JOIN
                         dbo.ChiTietDichVu AS ctdv ON hd.MaHD = hd.MaHD INNER JOIN
                         dbo.DichVu AS dv ON dv.MaDV = ctdv.MaDV
GROUP BY hd.MaHD, dp.MaPhong, kh.TenKH, kh.CCCD, dp.NgayTraPhong, dp.NgayDatPhong, p.GiatheoNgay, CASE WHEN DoThanThiet LIKE 'VIP' THEN 0.15 ELSE 0 END
GO
/****** Object:  View [dbo].[DichVuTheoPhong]    Script Date: 12/12/2022 10:49:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[DichVuTheoPhong]
AS
SELECT
    dp.MaPhong,dv.TenDV,ctdv.soLuong,dv.Gia,ctdv.soLuong*dv.Gia as 'ThanhTien'
from 
ChiTietDichVu ctdv 
join DichVu dv on ctdv.MaDV = dv.MaDV
join HoaDon hd on hd.MaHD = ctdv.MaHD
join DatPhong dp on dp.MaHD = hd.MaHD
GO
/****** Object:  View [dbo].[CTHDPhong]   Script Date: 13/12/2022 13:49:49 CH ******/

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[CTHDPhong]
AS
    select
        dp.MaPhong ,
        kh.TenKH,
        abs(DATEDIFF(DAY,dp.NgayDatPhong, dp.NgayTraPhong)) as SoDem,
        abs(DATEDIFF(DAY,dp.NgayDatPhong, dp.NgayTraPhong))*p.GiatheoNgay as TienPhong,
        sum(dvtp.ThanhTien)as TienDV, (abs(DATEDIFF(DAY,dp.NgayDatPhong, dp.NgayTraPhong))*p.GiatheoNgay+sum(dvtp.ThanhTien)) as TongTien,
        dp.DatCoc,
        CASE
            WHEN DoThanThiet like 'VIP' THEN 0.2
        ELSE 0 end as GiamGia

    FROM DatPhong dp
        inner JOIN HoaDon hd ON dp.MaHD=hd.MaHD
        inner join KhachHang kh ON kh.MaKH= dp.MaKH
        inner JOIN ChiTietHoaDon cthd ON hd.MaHD=cthd.MaHD
        inner join DichVuTheoPhong dvtp on dvtp.MaPhong = dp.MaPhong
        inner JOIN DichVu dv ON dv.TenDV = dvtp.TenDV
        inner join Phong p ON dp.MaPhong = p.MaPhong

    -- WHERE @MaPhong = dp.MaPhong
    GROUP by dp.MaPhong,kh.TenKH,dp.NgayTraPhong,dp.NgayDatPhong,p.GiatheoNgay,dp.DatCoc,
    CASE
            WHEN DoThanThiet like 'VIP' THEN 0.2
        ELSE 0 
    END
GO

/****** Object:  View [dbo].[ChiTietHoaDonPhong]    Script Date: 12/12/2022 10:49:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE view [dbo].[ChiTietHoaDonPhong]
as
    select ct.MaHD, kh.TenKH,p.MaPhong,dv.TenDV,hd.NgayXuat, kh.CCCD, dp.NgayDatPhong, dp.NgayTraPhong,
        p.GiatheoNgay,abs(DATEDIFF(DAY,dp.NgayDatPhong, dp.NgayTraPhong)) as SoDem,
        abs(DATEDIFF(DAY,dp.NgayDatPhong, dp.NgayTraPhong))*p.GiatheoNgay as TienPhong,
        ctdv.MaDV, ctdv.soLuong, dv.Gia, SUM(CTDV.SoLuong*dv.Gia) as ThanhTienDichVu,
        (SUM(CTDV.SoLuong*dv.Gia)+(abs(DATEDIFF(DAY,dp.NgayDatPhong, dp.NgayTraPhong))*p.GiatheoNgay)) AS 'TongTien',
        CASE
        WHEN DoThanThiet like 'VIP' THEN 0.15
        ELSE 0
    END AS GiamGia
    from ChiTietDichVu ct
        join HoaDon hd on ct.MaHD = hd.MaHD
        join DatPhong dp on dp.MaHD = hd.MaHD
        join KhachHang kh on kh.MaKH = dp.MaKH
        join Phong p on dp.MaPhong = p.MaPhong
        join ChiTietDichVu ctdv on hd.MaHD = hd.MaHD
        join DichVu dv on dv.MaDV = ctdv.MaDV

    where ct.MaHD = hd.MaHD
    group by ct.MaHD,kh.TenKH,kh.CCCD,dp.NgayTraPhong,dp.NgayDatPhong,ctdv.soLuong, dv.Gia,p.GiatheoNgay,ctdv.MaDV,p.MaPhong,dv.TenDV,hd.NgayXuat,
  CASE
       WHEN DoThanThiet like 'VIP' THEN 0.15
        ELSE 0
    END


GO

ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_DatPhong] FOREIGN KEY([MaDP])
REFERENCES [dbo].[DatPhong] ([MaDP])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_DatPhong]
GO
/****** Object:  Table [dbo].[Kho]    Script Date: 12/12/2022 10:49:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kho](
	[MaLoaiHang] [nvarchar](40) NOT NULL,
	[TenHang] [nvarchar](max) NULL,
	[ThoiGianNhap] [date] NULL,
	[SoLuong] [int] NULL,
	[GhiChu] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichLam]    Script Date: 12/12/2022 10:49:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichLam](
	[Ma] [varchar](20) NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[ChucDanh] [nvarchar](50) NULL,
	[NgayLam] [date] NULL,
	[Ca] [int] NULL,
	[MaNV] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK__LichLam__3214CC9F47882054] PRIMARY KEY CLUSTERED 
(
	[Ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiPhong]    Script Date: 12/12/2022 10:49:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiPhong](
	[MaLoaiPhong] [varchar](20) NOT NULL,
	[TenLoaiPhong] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 12/12/2022 10:49:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [nvarchar](20) NOT NULL,
	[TenNV] [nvarchar](50) NULL,
	[TenDN] [varchar](20) NULL,
	[Anh] [varchar](20) NULL,
	[MatKhau] [varchar](20) NULL,
	[ChucDanh] [nvarchar](30) NULL,
	[Sdt] [varchar](50) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [bit] NULL,
	[Email] [nvarchar](50) NULL,
	[CCCD] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[ChiTietDichVu]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDichVu_DichVu] FOREIGN KEY([MaDV])
REFERENCES [dbo].[DichVu] ([MaDV])
GO
-- ALTER TABLE [dbo].[ChiTietDichVu] CHECK CONSTRAINT [FK_ChiTietDichVu_DichVu]
-- GO
-- ALTER TABLE [dbo].[ChiTietDichVu]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDichVu_HoaDon] FOREIGN KEY([MaHD])
-- REFERENCES [dbo].[HoaDon] ([MaHD])
-- GO
-- ALTER TABLE [dbo].[ChiTietDichVu] CHECK CONSTRAINT [FK_ChiTietDichVu_HoaDon]
-- GO
ALTER TABLE [dbo].[ChiTietDichVu]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDichVu_DichVu] FOREIGN KEY([MaDV])
REFERENCES [dbo].[DichVu] ([MaDV])
GO
ALTER TABLE [dbo].[ChiTietDichVu] CHECK CONSTRAINT [FK_ChiTietDichVu_DichVu]
GO
ALTER TABLE [dbo].[ChiTietDichVu]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietDichVu_HoaDon] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
GO
ALTER TABLE [dbo].[ChiTietDichVu] CHECK CONSTRAINT [FK_ChiTietDichVu_HoaDon]
GO
-- ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD FOREIGN KEY([MaPhong])
-- REFERENCES [dbo].[Phong] ([MaPhong])
-- GO
-- ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD FOREIGN KEY([MaHD])
-- REFERENCES [dbo].[HoaDon] ([MaHD])
-- GO
-- ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD FOREIGN KEY([MaNV])
-- REFERENCES [dbo].[NhanVien] ([MaNV])
-- GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_DatPhong] FOREIGN KEY([MaDP])
REFERENCES [dbo].[DatPhong] ([MaDP])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_DatPhong]
GO

-- ALTER TABLE [dbo].[DatPhong]  WITH CHECK ADD  CONSTRAINT [FK__DatPhong__MaKH__5629CD9C] FOREIGN KEY([MaKH])
-- REFERENCES [dbo].[KhachHang] ([MaKH])
-- GO
-- ALTER TABLE [dbo].[DatPhong] CHECK CONSTRAINT [FK__DatPhong__MaKH__5629CD9C]
-- GO
-- ALTER TABLE [dbo].[DatPhong]  WITH CHECK ADD  CONSTRAINT [FK__DatPhong__MaPhon__5812160E] FOREIGN KEY([MaPhong])
-- REFERENCES [dbo].[Phong] ([MaPhong])
-- GO
-- ALTER TABLE [dbo].[DatPhong] CHECK CONSTRAINT [FK__DatPhong__MaPhon__5812160E]
-- GO
-- ALTER TABLE [dbo].[DatPhong]  WITH CHECK ADD  CONSTRAINT [fk_htk_DatPhong] FOREIGN KEY([MaHD])
-- REFERENCES [dbo].[HoaDon] ([MaHD])
-- GO
-- ALTER TABLE [dbo].[DatPhong] CHECK CONSTRAINT [fk_htk_DatPhong]
-- GO

ALTER TABLE [dbo].[DatPhong]  WITH CHECK ADD  CONSTRAINT [FK__DatPhong__MaKH__5629CD9C] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[DatPhong] CHECK CONSTRAINT [FK__DatPhong__MaKH__5629CD9C]
GO
ALTER TABLE [dbo].[DatPhong]  WITH CHECK ADD  CONSTRAINT [FK__DatPhong__MaPhon__5812160E] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[Phong] ([MaPhong])
GO
ALTER TABLE [dbo].[DatPhong] CHECK CONSTRAINT [FK__DatPhong__MaPhon__5812160E]
GO
ALTER TABLE [dbo].[DatPhong]  WITH CHECK ADD  CONSTRAINT [FK_DatPhong_HoaDon] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
GO
ALTER TABLE [dbo].[DatPhong] CHECK CONSTRAINT [FK_DatPhong_HoaDon]
GO

-- ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaDP])
-- REFERENCES [dbo].[DichVu] ([MaDV])
-- GO
-- ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_DatPhong] FOREIGN KEY([MaDP])
-- REFERENCES [dbo].[DatPhong] ([MaDP])
-- GO
-- ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_DatPhong]
-- GO

ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_DatPhong] FOREIGN KEY([MaDP])
REFERENCES [dbo].[DatPhong] ([MaDP])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_DatPhong]
GO

ALTER TABLE [dbo].[LichLam]  WITH CHECK ADD  CONSTRAINT [FK__LichLam__MaNV__02FC7413] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[LichLam] CHECK CONSTRAINT [FK__LichLam__MaNV__02FC7413]
GO
ALTER TABLE [dbo].[Phong]  WITH CHECK ADD FOREIGN KEY([MaLoaiPhong])
REFERENCES [dbo].[LoaiPhong] ([MaLoaiPhong])
GO
/****** Object:  StoredProcedure [dbo].[sp_CTDV]    Script Date: 12/12/2022 10:49:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_CTDV](@MaPhong nvarchar(20))
as begin
	SELECT
		dv.MaDV as MaDV,
		dv.TenDV as TenDV,
		dv.Gia as DonGia,
		COUNT(DV.MaDV) as SoLuong,
		dv.Gia*COUNT(DV.MaDV) as ThanhTien
	FROM DichVu dv 
		inner join HoaDon hd ON dv.MaDV = hd.MaDV
		inner join ChiTietHoaDon cthd ON hd.MaHD = cthd.MaHD
		inner join Phong p ON cthd.MaPhong = p.MaPhong
	WHERE @MaPhong = P.MaPhong
	GROUP BY P.MaPhong,	dv.MaDV,dv.TenDV,dv.Gia
end
GO
/****** Object:  StoredProcedure [dbo].[sp_CTPhong]    Script Date: 12/12/2022 10:49:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[sp_CTPhong](@MaPhong nvarchar(20))
as begin
	SELECT
		p.MaPhong as MaPhong,
		kh.TenKH as TenKH,
		dp.NgayTraPhong as NgayTraPhong,
		p.GiatheoNgay as GiaTheoNgay,
		p.GiaTheoGio as GiaTheoGio

	FROM Phong p
		inner JOIN ChiTietHoaDon cthd ON p.MaPhong=cthd.MaPhong
		inner JOIN HoaDon hd ON cthd.MaHD=hd.MaHD  
		inner join KhachHang kh ON hd.MaKH = kh.MaKH
		inner join DatPhong dp ON kh.MaKH = dp.MaKH
		inner JOIN  DichVu dv ON dv.MaDV = hd.MaDV
		
	WHERE @MaPhong = p.MaPhong
	GROUP BY p.MaPhong,p.GiatheoNgay,p.GiaTheoGio,kh.TenKH,dp.NgayTraPhong
end
GO
/****** Object:  StoredProcedure [dbo].[sp_DichVu]    Script Date: 12/12/2022 10:49:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_DichVu]
AS BEGIN
	SELECT
		dv.TenDV TenDV,
		dv.MaDV MaDV,
		COUNT(hd.MaDV) SoLuong,
		SUM(dv.gia) TongTien
	FROM DichVu dv JOIN HoaDon hd ON dv.MaDV = hd.MaDV
	
	gROUP BY DV.MaDV,DV.TenDV
END
GO
/****** Object:  StoredProcedure [dbo].[sp_loadPhong]    Script Date: 12/12/2022 10:49:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_loadPhong]
AS BEGIN
	IF  EXISTS(select MaPhong from DatPhong )
	BEGIN
		update Phong set TrangThai = N'Đã có người'
		from DatPhong dp inner join Phong p ON dp.MaPhong = p.MaPhong
		return
		
	END
	
	Begin
	Update Phong set TrangThai = N'Trống'
	
	end
END
GO
DELETE from DatPhong where MaKH like 'KH013'
/****** Object:  StoredProcedure [dbo].[sp_loadPhong1]    Script Date: 12/12/2022 10:49:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_loadPhong1]
AS BEGIN
	
	
	Begin
	Update Phong set TrangThai = N'Trống'
	
	end
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ThongKeDoanhThu]    Script Date: 12/12/2022 10:49:49 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_ThongKeDoanhThu](@day varchar(20))
AS BEGIN
	SELECT
		hd.NgayXuat,
		ph.MaPhong Phong,
		kh.TenKH,
		hd.MaHD,
		SUM(hd.Gia) DoanhThu,
		nv.MaNV
	FROM KhachHang kh
		JOIN HoaDon hd ON kh.MaKH=hd.MaKH
		JOIN ChiTietHoaDon cthd ON cthd.MaHD=hd.MaHD 
		JOIN  NhanVien nv ON nv.MaNV = cthd.MaNV
		JOIN Phong ph ON ph.MaPhong = cthd.MaPhong
	WHERE  YEAR(hd.NgayXuat) = @day 
	GROUP BY ph.MaPhong,kh.TenKH,hd.MaHD,nv.MaNV,hd.NgayXuat
END
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "dp"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 136
               Right = 224
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "hd"
            Begin Extent = 
               Top = 6
               Left = 262
               Bottom = 136
               Right = 448
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "kh"
            Begin Extent = 
               Top = 138
               Left = 38
               Bottom = 268
               Right = 224
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "p"
            Begin Extent = 
               Top = 138
               Left = 262
               Bottom = 268
               Right = 448
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "ctdv"
            Begin Extent = 
               Top = 270
               Left = 38
               Bottom = 383
               Right = 224
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "dv"
            Begin Extent = 
               Top = 270
               Left = 262
               Bottom = 400
               Right = 448
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 1440
         Alias = 900
         Table = 1170
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ChiTietDatPhong'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ChiTietDatPhong'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ChiTietDatPhong'
GO
USE [master]
GO
INSERT [dbo].[ChiTietHoaDon] ([MaCTHD], [ThanhTien], [MaHD], [MaNV], [MaPhong]) VALUES (N'01', CAST(20000 AS Decimal(18, 0)), CAST(20000 AS Decimal(18, 0)), N'HD001', N'NV001', N'P001')
INSERT [dbo].[ChiTietHoaDon] ([MaCTHD], [ThanhTien], [MaHD], [MaNV], [MaPhong]) VALUES (N'02', CAST(12000 AS Decimal(18, 0)), CAST(12000 AS Decimal(18, 0)), N'HD003', N'NV002', N'P003')
INSERT [dbo].[ChiTietHoaDon] ([MaCTHD], [ThanhTien], [MaHD], [MaNV], [MaPhong]) VALUES (N'03', CAST(12900 AS Decimal(18, 0)), CAST(12900 AS Decimal(18, 0)), N'HD002', N'NV004', N'P004')
INSERT [dbo].[DatPhong] ([MaPhong], [NgayDatPhong], [NgayTraPhong], [MaKH], [DatCoc], [GhiChu]) VALUES (N'1', CAST(N'2020-10-20' AS Date), CAST(N'2020-10-22' AS Date), CAST(100000 AS Decimal(18, 0)), NULL, N'KH001', N'P001', N'HD001')
INSERT [dbo].[DatPhong] ([MaPhong], [NgayDatPhong], [NgayTraPhong], [MaKH], [DatCoc], [GhiChu]) VALUES (N'10', CAST(N'2020-10-20' AS Date), CAST(N'2020-10-20' AS Date), CAST(1000 AS Decimal(18, 0)), NULL, N'KH009', N'P002', N'HD002')
INSERT [dbo].[DatPhong] ([MaPhong], [NgayDatPhong], [NgayTraPhong], [MaKH], [DatCoc], [GhiChu]) VALUES (N'11', CAST(N'2022-12-07' AS Date), CAST(N'2022-12-08' AS Date), CAST(350 AS Decimal(18, 0)), N'', N'KH015', N'P024', N'HD003')
INSERT [dbo].[HoaDon] ([MaHD], [NgayXuat], [MaPhong]) VALUES (, N'DV001', CAST(N'2020-10-20' AS Date) ,'P101')
INSERT [dbo].[HoaDon] ([MaHD], [NgayXuat], [MaPhong]) VALUES (, N'DV001', CAST(N'2020-10-20' AS Date),'P101')
INSERT [dbo].[HoaDon] ([MaHD], [NgayXuat], [MaPhong]) VALUES (, N'DV003', CAST(N'2020-10-20' AS Date),'P101')
INSERT [dbo].[DichVu] ([MaDV], [TenDV], [Gia], [GhiChu], [SoLuong]) VALUES (N'DV001', N'Giặt ủi quần áo', CAST(100000 AS Decimal(18, 0)), NULL, NULL)
INSERT [dbo].[DichVu] ([MaDV], [TenDV], [Gia], [GhiChu], [SoLuong]) VALUES (N'DV002', N'Xe đưa đón sân bay', CAST(200000 AS Decimal(18, 0)), NULL, NULL)
INSERT [dbo].[DichVu] ([MaDV], [TenDV], [Gia], [GhiChu], [SoLuong]) VALUES (N'DV003', N'Quầy bar', CAST(220000 AS Decimal(18, 0)), NULL, NULL)
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [Tuoi], [CCCD], [DoThanThiet], [DiaChi], [Sdt], [GioiTinh], [GhiChu]) VALUES (N'KH001', N'Điêu Phương Dung', 27, N'079215000001', N'VIP', N'Phường 13, Quận 8, Hồ Chí Minh (tphcm)', N'076 621 7953', 0, NULL)
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [Tuoi], [CCCD], [DoThanThiet], [DiaChi], [Sdt], [GioiTinh], [GhiChu]) VALUES (N'KH002', N'Tòng Thiên Khánh', 28, N'079215000001', N'VIP', N'Phường Tân Phú, Quận 7, Hồ Chí Minh (tphcm)', N'058 817 5290', 0, NULL)
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [Tuoi], [CCCD], [DoThanThiet], [DiaChi], [Sdt], [GioiTinh], [GhiChu]) VALUES (N'KH003', N'Anh Anh Mai', 28, N'079215000001', N'Thường', N'Phường Tam Bình, Quận Thủ Đức, Hồ Chí Minh (tphcm)', N'090 320 1569', 0, NULL)
INSERT [dbo].[Kho] ([MaLoaiHang], [TenHang], [ThoiGianNhap], [SoLuong], [GhiChu]) VALUES (N'A001', N'Nệm cao su Cát Tường', CAST(N'2020-10-20' AS Date), 12, N'')
INSERT [dbo].[Kho] ([MaLoaiHang], [TenHang], [ThoiGianNhap], [SoLuong], [GhiChu]) VALUES (N'A002', N'Khăn tắm Charis,ma', CAST(N'2020-10-20' AS Date), 25, NULL)
INSERT [dbo].[Kho] ([MaLoaiHang], [TenHang], [ThoiGianNhap], [SoLuong], [GhiChu]) VALUES (N'A003', N'Ruột gối Doona Prôm', CAST(N'2020-10-20' AS Date), 18, NULL)
INSERT [dbo].[LichLam] ([Ma], [HoTen], [ChucDanh], [NgayLam], [Ca], [MaNV]) VALUES (N'001', N'Ngô Hoàng Quốc Việt', N'Quan Li', CAST(N'2020-10-20' AS Date), 2, N'NV001')
INSERT [dbo].[LichLam] ([Ma], [HoTen], [ChucDanh], [NgayLam], [Ca], [MaNV]) VALUES (N'002', N'Tạ Quốc Phong', N'Nhân Viên', CAST(N'2020-10-20' AS Date), 3, N'NV002')
INSERT [dbo].[LichLam] ([Ma], [HoTen], [ChucDanh], [NgayLam], [Ca], [MaNV]) VALUES (N'003', N'Đặng Hoàng Cảnh', N'Nhân Viên', CAST(N'2020-10-20' AS Date), 4, N'NV003')
INSERT [dbo].[LoaiPhong] ([MaLoaiPhong], [TenLoaiPhong]) VALUES (N'1', N'Thuong')
INSERT [dbo].[LoaiPhong] ([MaLoaiPhong], [TenLoaiPhong]) VALUES (N'2', N'VIP')
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [TenDN], [Anh], [MatKhau], [ChucDanh], [Sdt], [DiaChi], [NgaySinh], [GioiTinh], [Email], [CCCD]) VALUES (N'NV001', N'Ngô Hoàng Quốc Việt', N'TyS', N'null', N'091203', N'Nhân Viên', N'091203', N'TP HCM', CAST(N'2020-10-01' AS Date), 1, N'Ty@gmail.com', N'22222222111')
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [TenDN], [Anh], [MatKhau], [ChucDanh], [Sdt], [DiaChi], [NgaySinh], [GioiTinh], [Email], [CCCD]) VALUES (N'NV002', N'Tạ Quốc Phong', N'Wind', NULL, N'123', N'Nhân Viên', N'012345678', N'TP HCM', CAST(N'2020-10-01' AS Date), 1, N'Ty@gmail.com', N'22222222')
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [TenDN], [Anh], [MatKhau], [ChucDanh], [Sdt], [DiaChi], [NgaySinh], [GioiTinh], [Email], [CCCD]) VALUES (N'NV003', N'Đặng Hoàng Cảnh', N'Bi', NULL, N'020703', N'Nhân Viên', N'012345678', N'TP HCM', CAST(N'2020-10-01' AS Date), 1, N'Ty@gmail.com', N'22222222')
INSERT [dbo].[Phong] ([MaPhong], [Tang], [GiaTheoGio], [GiatheoNgay], [TrangThai], [MaLoaiPhong]) VALUES (N'P101', 1, CAST(100 AS Decimal(18, 0)), CAST(500 AS Decimal(18, 0)), N'Đã có người', N'1')
INSERT [dbo].[Phong] ([MaPhong], [Tang], [GiaTheoGio], [GiatheoNgay], [TrangThai], [MaLoaiPhong]) VALUES (N'P102', 1, CAST(100 AS Decimal(18, 0)), CAST(500 AS Decimal(18, 0)), N'Đã có người', N'1')
INSERT [dbo].[Phong] ([MaPhong], [Tang], [GiaTheoGio], [GiatheoNgay], [TrangThai], [MaLoaiPhong]) VALUES (N'P103', 3, CAST(100 AS Decimal(18, 0)), CAST(500 AS Decimal(18, 0)), N'Đã có người', N'1')
INSERT ChiTietDichVu VALUES('P109','DV001',2,200000);
INSERT ChiTietDichVu VALUES ('P109','DV002',2,400000);
INSERT ChiTietDichVu VALUES ('P109','DV003',2,440000);
